@font-face{
    font-family: 'Roboto-Regular';
    src: url(../Roboto/Roboto-Regular.ttf) format('truetype');
    font-weight: 400;
}
@font-face{
    font-family: 'Roboto-Bold';
    src: url(../Roboto/Roboto-Bold.ttf) format('truetype');
    font-weight: 700;
}